.homepage {
  background-color: #003144;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
  color: #fff;
}

.header img {
  width: 112px;
  height: 47px;
}

.header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 36px;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.navbar li:last-child {
  background-color: rgb(68, 146, 76);
  filter: brightness(1);
  border-radius: 10px;
  opacity: 1;
  padding: 15px 20px;
}

.main-section {
  font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
  margin-top: 90px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 120px;
}

.sub-heading {
  font-size: 44px;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.4em;
  text-align: center;
}

.ai-text {
  color: #bdffa3;
}

.center-buttons a {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  height: 68px;
  padding: 25px 35px;
  width: 200px;
  margin: 0 30px;
  transition: transform 0.5s;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.center-buttons a:last-child {
  background-color: #ffffff26;
  color: white;
}

.description {
  width: 560px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 1.8em;
  margin: auto;
}
